html {
  font-family: Cambria;
}

body {
  margin: 0;
  background-color: white;
  width: 100%;
}

header {
  width: 100%;
  display:inline-flex;
  align-items:center;
  justify-content: space-between;
  height: 64px;
  margin-left: 24px;
  position:fixed;
  top: 0;
  z-index: 1;
}

.logo {
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-name {
  height: 32px;
  font-size: 30px;
  text-transform: uppercase;
}

.logo-icon {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#school {
  font-size: 32px;
  color: #a78f8f
}

span#type {
  font-size: 32px;
  color: #444e56;
}

.nav {
  list-style-type:none
}

nav {
  margin-right: 24px;
}

ul {
  display: flex;
  margin-right: 24px;
}

.link-box {
  width: 16px;
  background-color:#169d9d4f;
  height: 64px
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

section.opening-container {
  width: 100%;
  display: inline-flex;
  height: 700px;
  background-color: #9f9a9a5e;
  padding: 0 24px;
  align-items: center;
  justify-content:center;
  margin-top:64px;
}

.leftside, .rightside {
  height: 600px;
  margin: 32px 0;
  padding-right: 24px;
}

.leftside {
  width: 60%;
}

.rightside {
  width: 40%
}

.banner {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.opening-article {
  width:100%;
  height:100%;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction:column;
}

.text-left,
.button {
  width:100%;
  display: flex;
  align-items: center;
  margin: 24px 0;
}

h1 {
  color:grey;
  font-size: 60px
}

h2 {
  font-size: 36px;
  color:grey;
}

.button {
  font-size: 36px;
  color:white;
  background-color:#2d2b2b;  
}

.click {
  margin: 8px auto;
}