html {
  font-family: Cambria;

}

body {
  margin: 0;
  background-color: white;
  width: 100%;
}

header {
  width: 100%;
  display:inline-flex;
  align-items:center;
  justify-content: space-between;
  height: 64px;
  padding-left: 24px;
  position:fixed;
  top: 0;
  z-index: 1;
  background-color: white;
}

.logo {
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-name {
  height: 32px;
  font-size: 30px;
  text-transform: uppercase;
}

.logo-icon {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#school {
  font-size: 32px;
  color: #a78f8f
}

span#type {
  font-size: 32px;
  color: #444e56;
}

.nav {
  list-style-type:none
}

nav {
  margin-right: 24px;
}

ul {
  display: flex;
  margin-right: 24px;
}

.link-box {
  width: 16px;
  background-color:#169d9d4f;
  height: 64px
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

.opening-container {
  width: 100%;
  display: inline-flex;
  height: 680px;
  background-color: #9f9a9a5e;
  padding: 0 24px;
  align-items: center;
  justify-content:center;
  margin-top:64px;
}

.opening-container .leftside, .rightside {
  height: 600px;
  padding-right: 24px;
}

.leftside {
  width: 60%;
}

.rightside {
  width: 40%
}

.banner {
  width: 100%;
  height: 100%;
  object-fit:cover;
  padding-bottom: 32px;
}

.opening-article {
  width:100%;
  height:100%;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction:column;
}

.text-left,
.button {
  width:100%;
  display: flex;
  align-items: center;
  margin: 24px 0;
}

h1 {
  color:grey;
  font-size: 60px
}

h2 {
  font-size: 36px;
  color:grey;
}

.button {
  font-size: 36px;
  color:white;
  background-color:#2d2b2b;
  border: 1px solid black;
  border-radius: 8px;
  width: 80%;
  margin-right: 20%;
  cursor: pointer;
}

.button:hover {
  background-color:chocolate;
  transition: 500ms ease-out 50ms;
  color:black;
}

.click {
  margin: 8px auto;
}

.click:hover {
  color:black;
  transition: 500ms ease-out 50ms;
}

a:hover {
  color:chocolate;
}

a {
  text-decoration: none;
  color: #444e56;
}

.second-container {
  width: 100%;
  display: inline-flex;
  height: 1200px;
  padding: 0 24px;
  justify-content:center;
}

.second-container .leftside {
  height: 100%;
  padding-right: 24px;
}

.second-container .rightside {
  height: 100%;
  margin-top: 0;
  padding-top: 32px;
  border-left: 1px solid #80808038;
}


.main {
  width: 100%;
  height: 58%;
  object-fit:cover;
  padding-top: 32px;
}

.information h1, h2, p {
  margin: 0;
}

.information h1 {
  margin-top: 32px;
}

.information h2 {
  margin-top: 24px;
}

.information p {
  margin-top: 60px;
  margin-bottom: 32px;
  font-size: 18px;
}

.parts {
  display: flex;
  justify-content:center;
  padding-bottom: 16px;
  text-align: left;
  height: 31%;
  padding-left: 16px;
}

.date {
  width:65%;
  line-height:2;
  padding-left: 16px;
  margin: auto 0;
}

.rightside h3 {
  margin: 0;
  font-size: 30px;
  color:grey;
}

.rightside a {
  color:blue;
  font-size: 20px;
}

.rightside p {
  color:grey;
  font-size: 20px;
}

.rightside img {
  width: 35%;
  height: auto;
  padding: 16px 0;
}

.our-campus {
  width:65%;
  line-height:2;
  padding-left: 16px;
  margin: auto 0;
}

.guest-lecture {
    width:65%;
  line-height:2;
  padding-left: 16px;
  margin: auto 0;
}

.parts.bg {
  background-color: #9f9a9a5e;
}

.third-container {
  background-color: #9f9a9a5e;
}