body {
  margin: 0;
  background-color: white;
  width: 100%;
}

header {
  width: 100%;
  display:inline-flex;
  align-items:center;
  justify-content: space-between;
  height: 64px;
  margin-left: 24px;
}

.logo {
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;}

.logo-name {
  height: 32px;
  font-size: 30px;
  text-transform: uppercase;
}

.logo-icon {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#school {
  font-size: 32px;
  color: #a78f8f
}

span#type {
  font-size: 32px;
  color: #444e56;
}
.nav {
  list-style-type:none
}

ul {
  display: flex;
  margin-right: 25px;
}

.link-box {
  width: 16px;
  background-color:#169d9d4f;
  height: 64px
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

section.opening-container {
  width: 100%;
  display: inline-flex;
  height: 700px;
  background-color: #9f9a9a5e;
  padding-left: 24px;
}


.box1, .box2 {
  height: 600px;
  border: 1px #795548 solid;
  margin: 32px 0;
  padding: 0 24px;
}

.box1 {
  width: 60%;
}

.box2 {
  width: 40%
}